.input1 {
    padding: 0 0 0 0;
}

.input2 {
    padding: 0 0 0 0;
}

.input3 {
    padding: 0 0 0 0;

}

.input4 {
    padding: 0 0 0 0;

}

.input5 {
    padding: 0 0 0 0;
}

fieldset {
    text-align: left;
}

fieldset input{
    text-align: left;
}
