<form style="margin-left : 45px;">
    <fieldset>

        <div style="padding-top: 25px;">
            <p>Имя*<br><input (keyup)="setName($event)" type="text"></p>
            <p>Описание<br><textarea (keyup)="setDescription($event)"></textarea></p>
            <p>URL изображения<br><input (keyup)="setImg($event)" type="url"></p>
            <p>Цена*<br><input (keyup)="setPrice($event)" type="number"></p>
            <p>Процент скидки<br><input (keyup)="setSellPercent($event)" type="number" min="0"
                                                         max="100"></p>
            <button (click)="addProduct()">СОХРАНИТЬ</button>
        </div>

    </fieldset>
    <br>
</form>
