<div class="row products">
    <div class="d-flex align-items-center ">
        <input (keyup)="searchProducts($event.target)" type="search">
        <button>SET</button>
    </div>


    <div class="card" *ngFor="let product of currentProducts">
        <img src="/assets{{product.img}}" alt="Avatar" style="width:100%">
        <div class="container">
            <h4><b>{{product.name}}</b></h4>
            <p>
                <del *ngIf="product.sellPercent !== 0">{{product.price}}$</del>
            <span>{{getCurrentPrice(product)}}$</span>
            </p>
            <p>{{product.description}}</p>
        </div>
    </div>
</div>

