<div class="page">
    <div>
        <h1>ПРИГОТОВЬТЕСЬ</h1>
        <h2>К ПРИКЛЮЧЕНИЮ</h2>
    </div>
</div>
<div class="page1">
    <div class="item1">
        <h1>НОВИНКИ</h1>
        <h2>в магазин</h2>
    </div>
    <div class="item"></div>
</div>
<div class="page2">
    <div>
        <img src="assets/img/01.webp">
        <div class="product">
            <h3>небольшие рюкзак</h3>
        </div>
    </div>
    <div>
        <img src="assets/img/02.webp">
        <div class="product">
            <h3>сумки</h3>
        </div>
    </div>
    <div>
        <img src="assets/img/03.webp">
        <div class="product">
            <h3>большие рюкзаки</h3>
        </div>
    </div>
</div>
<div class="page3">
    <h1>РАСПРОДАЖА</h1>
    <h2>СКИДКА 50%</h2>
    <div class="nkar">
        <div>
            <img src="assets/img/10.jpg">
        </div>
        <div>
            <img src="assets/img/11.jpg">
        </div>
        <div>
            <img src="assets/img/12.jpg">
        </div>
    </div>
    <div class="nkar1">
        <div>
            <h1>ваш товар</h1>
            <div class="barev">
                <h2><span>6,000,00</span> 5,400,00</h2>
            </div>
        </div>
        <div>
            <h1>ваш товар</h1>
            <div class="barev">
                <h2><span>6,500,00</span> 5,200,00 </h2>
            </div>
        </div>
        <div>
            <h1>ваш товар</h1>
            <div class="barev">
                <h2><span>6,000,00</span> 4,800,00 </h2>
            </div>
        </div>
    </div>
</div>
<div class="page4">
    <div>
        <h1>О НАС</h1>
        <p>Это текст. Нажмите один раз и выберите «Редактировать текст» или просто дважды кликните, чтобы добавить свой текст и настроить шрифт. Здесь вы можете рассказать посетителям подробнее о себе.</p>
    </div>
</div>
<div class="page5">
    <div class="kontakt">
        <form>
            <input type="text" placeholder="Имя">
            <input type="text" placeholder="Эл.почта">
            <input type="text" placeholder="Телефон">
            <input class="hi" type="text" placeholder="Добавьте сообщение">
            <button>Отправить</button>
        </form>
    </div>
    <div class="kontakt1">
        <div>
            <h1>КОНТАКТЫ</h1>
            <p>Это текст. Нажмите один раз и выберите «Редактировать текст» или просто дважды кликните, чтобы добавить свой текст и настроить шрифт.</p>
            <h2>info@mysite.ru</h2>
            <h2>Телефон: +7 (495) 000-00-00</h2>
        </div>
    </div>
</div>
<div class="page6">
    <div>
        <h1>ПОДПИШИТЕСЬ НА РАССЫЛКУ</h1>
        <h2>И УЗНАВАЙТЕ НОВОСТИ ПЕРВЫМИ</h2>
    </div>
    <div class="hii">
        <input type="text" placeholder="Добавьте эл.почту*">
        <button>OK</button>
    </div>
</div>
